<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LeoAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
     <h1 class="title">LeoAI - Your Personal Assistant</h1>
    <div class="wave-container" id="wave-container" aria-label="Wave Animation">
        <div class="wave" alt="Wave"></div>
        <div class="wave" alt="Wave"></div>
        <div class="wave" alt="Wave"></div>
        <div class="wave" alt="Wave"></div>
    </div>
    <button id="start">Start</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- <script src="script.js"></script> -->
</body>
</html>